@charset "utf-8";
/* CSS Document */

.information{ margin:50px 0px 0px 0px;}

.information h4{font-variant:small-caps;
color:#07294D;
font-weight:550;
margin-bottom:15px;}

.information h4 span{ border-bottom:3px solid #FFC400;}